[class*='grid'],
[class*='col-'] {
  box-sizing: border-box;
}

.row {
    display: block; padding: 0; width: 100%;
}

.row:after {
  content: "";
	display: block; width: 0; height: 0;
	clear: both;
}

.col-1-2 {
  float: left;
  width: 46%;
}

.col-1-2:first-child {
  margin-right: 4%;
}

.col-1-2:last-child {
  margin-left: 4%;
}

@media handheld, only screen and (max-width: 767px) {
  [class*='col-'] {
    width: 100% !important;
    margin: 0 !important;
  }
}
