* {
  border: 0; margin: 0; padding: 0; background-color: transparent;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;-
  -webkit-text-size-adjust: 100%;
}

body, input, textarea, button, select {
  font: lighter 16px Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 140%;
}

.clearfix {
  display: block; height: 0; width: 0; clear: both;
}

#app {
  position: fixed; top:0; left: 0;
  height: 100%; width: 100%;
}

#background, #foreground {
  position:absolute;
  height: 100%; width: 100%;
}

#background {
background: #00C9FF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #00C9FF , #92FE9D); /* C.dividerome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #00C9FF , #92FE9D); /* W3C, IE 10+/ Edge, Firefox 16+, C.dividerome 26+, Opera 12+, Safari 7+ */

/*background: blue;*/
/*background: #283c86; /* fallback for old browsers */*/
/*background: -webkit-linear-gradient(to left, #283c86 , #45a247); /* C.dividerome 10-25, Safari 5.1-6 */*/
/*background: linear-gradient(to left, #283c86 , #45a247); /* W3C, IE 10+/ Edge, Firefox 16+, C.dividerome 26+, Opera 12+, Safari 7+ */*/

}

#foreground {
  box-sizing: border-box;
  background-color: transparent;
  overflow: auto;
  /*padding: 200px 0;*/
}

#main-container {
  background: rgba(255, 2555, 255, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(239,239,239,0.5);
  width: 90%;
	max-width: 940px;
	min-width: 748px;
	margin: 0 auto;
	overflow: hidden;
}



#header {
  box-sizing: border-box;
  padding: 40px 60px 20px 60px;
}

/*header:after {
  display:block;
  content: " ";
  border-bottom: 1px solid black;
  margin-top: 60px;
}*/

#header .titles {
  display: inline-block; float: left;
}

#header h1 {
  font: bold 36px Roboto, Helvetica, Sans-Serif;
  letter-spacing: -2px;
  line-height: 110%;
}

#header h2 {
  margin-top: 15px;
  font: normal 28px Roboto, Helvetica, Sans-Serif;
  letter-spacing: -1px;
  line-height: 100%;
}

#menu {
  margin-top: 10px;
  display: inline-block;
  float: right;
}

#menu ul {
  display: block;
  list-style: none;
}

#menu li {
  display: block;
  border-bottom: 1px solid #000;
}

#menu li:last-child {
  border-bottom-width: 0;
}

#menu a {
  display: block;
  padding: 9px 22px 8px 22px;
  font: bold 16px Roboto, Helvetica, Sans-Serif; color: inherit;
  line-height: 100%; text-align: center; text-decoration: none;
}

#menu a:hover {
  color: #00FF00;
}

#main {
  box-sizing: border-box;
}

#main h2 {
  display: inline-block;
  margin: 40px 0;
  border: 2px solid #000;
  padding: 10px 20px;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  font: normal 22px Roboto, Helvetica, Sans-Serif;
  letter-spacing: 2px;
}

#main h3 {
  display: inline-block;
  font: bold 18px Roboto, Helvetica, Sans-Serif;
  margin: 30px 0;
  padding: 0 0 6px 0;
  border-bottom: 1px solid black;
}

#main a, #footer a {
  color: inherit;
}

#main a:hover {
  font-weight: normal;
}

#main p, #main li {
}

#main p, #main ul, #main input, #main textarea, #main button {
  margin: 20px 0;
}

#main ul {
  list-style-type: circle;
  margin-left: 20px;

}

#main li {
  padding: 5px 0;
}

#main button {
  display: inline-block;
  width: auto;
  margin-top: 10px;
  padding: 10px 60px;
  border: 1px solid #000;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

#main button:hover {
  background: #000;
  color: #FFF;
}

#main .divider {
  display: block;
  position: relative;
  padding: 60px 0 40px 0;
  /*padding-bottom: 8px;*/
}

#main .divider::before {
  display: inline-block; content: "";
  vertical-align: middle;
  margin-right: 10px;
  width: 20px; height: 1px;
  background: #000;
}

#main .divider::after {
  box-sizing: border-box;
  position: absolute; top: 70px; left: 0;
  border-left: 138px solid transparent;
  display: block; content: "";
  width: 100%; height: 1px;
  background: #000; background-clip: content-box;
}

#main .divider a {
  font: bold 16px Roboto, Helvetica, Sans-Serif;
  color: #000; text-decoration: none;
  line-height: 16px;
  vertical-align: middle;
}

#main .divider:last-child {
  margin-bottom: 20px;
}

#projects .project, #projects .project-infos {
  position: relative;
}

#projects .projects-browser {
  border: 1px solid #000;
  margin: 30px 0;
  background: #FFF;
}

#projects .selector {
  /*border-width: 1px;
  border-color: #000;
  border-style: solid;*/
  overflow: hidden;
  /*padding: 0 8px 0 20px;*/
  /*border: 1Px solid #000;
  padding: 12px 8px;*/
}

#projects .selector * {
    vertical-align: middle;
}

#projects .selector:after {
  display: block; width: 0; height: 0;
  content: '';
  clear: both;
}


#projects .selector select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearence: none;
  outline: 0;
  font: bold 18px Roboto, Helvetica, Sans-Serif;
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 20px 0 0 20px;
}

#projects .selector select:hover {
  cursor: pointer;
}

#projects .arrows {
  /*display: inline-block;*/
  float: right;
  margin: 17px 20px 20px 20px;
}


#projects .arrows button {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  /*border: 0;
  box-shadow: none;*/
}

#projects .arrows span {
  margin: 0 20px;
}

#projects .arrows button:hover {
  /*color: #000; background: transparent;*/
}

#projects .project-pic {
  position: relative;
  line-height: 0;
  margin: 20px 20px 0 20px
}

#projects .project-pic:hover::after {
  position: absolute; top: calc(50% - 40px); left: calc(50% - 40px);
  text-align: center;
  width: 80px;;
  content:"\2609";
  line-height: 100%;
  font-size: 80px;
  font-weight: bolder;
  pointer-events: none;
  background: rgba(255,255,255,0.6);
  border-radius: 50%;
}

#projects .project-pic .pic-small {
  width: 100%; height: auto;
}

#projects .project-pic .pic-small:hover {
  cursor: zoom-in;
}

#projects .project-pic .large-container {
  z-index: 100;
  display: block;
  box-sizing: border-box;
  position: fixed; top:0; left: 0;
  width: 100%; height: 100%;
  padding: 20px;
  overflow-y: auto;
  text-align: center;
  background: #FFF;
}

#projects .project-pic .large-exit {
  position: fixed; top:10px; right:15px;
  background: #FFF;
  margin: 0;
  padding-left: 30px; padding-right: 30px;
}

#projects .project-pic .large-exit:hover {
  background: #000;
}

#projects .project-pic .pic-large {
  display: inline;
  max-width: 100%;
  height: auto;
  background: #EEE;
}


#projects .project .desc {
  box-sizing: border-box;
  /*position: absolute; top: 200px;*/
  /*display: block;*/
  /*border-left: 1px solid black;*/
  /*padding: 12px 16px;*/
  /*margin-left: 10px;*/
  line-height: 140%;
  /*background: #FFF;*/
  /*border: 1px solid black;*/
  /*margin: 0 auto;*/
  /*width: 80%;*/
  margin: 20px;
}

#projects .project ul {
  list-style: none;
  margin: 20px;
  /*display: inline-block;
  border: 1px solid;
  padding: 12px 20px;*/
}

#projects .project li {
}


#contact .no-bots-please, #main .no-bots-please div {
  display: inline-block;
  font-weight: bold;
}

#contact input, #contact textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #000;
  padding: 10px 14px;
}

#contact textarea {
  height: 200px;
}

/*#contact button {
  display: inline-block;
  width: auto;
  margin-top: 10px;
  padding: 10px 60px;
  border: 1px solid #000;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

#contact button:hover {
  background: #000;
  color: #FFF;
}*/

#contact strong {
  text-decoration: underline;
  font-weight: bold;
}

#footer {
  background: transparent;
  box-shadow: none;
  margin-bottom: 80px;
  text-align: center;

}

#footer p {
  font-size: 12px;
  /*display: inline-block;
  border: 1px solid black;
  padding: 20px 40px;*/
}

@media handheld, only screen and (max-width: 767px) {
  #main-container {
		width: 100%;
		min-width: 0;
    box-shadow: 0 0 0 0 #FFF;
	}

  #header {
    padding: 40px;
  }

  #menu {
    display: block;
    float: none;
    clear: both;
    margin-top: 0;
    padding-top: 30px;
  }

  #menu li {
    display: inline-block;
    margin-right: 20px;
    border-width: 2px;
  }

  #menu li:last-child {
    border-width: 2px;
  }


  #menu li a {
    padding-left: 0; padding-right: 0;
  }

  #main {
    padding: 40px;
  }

  #projects .arrows {
    float: none;
  }

  #projects .project .desc, #projects .project ul {
    margin: 20px 0;
  }
}
